// POPUPS
// -----
.wpqs-popup-container {
    --padding: 0.2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: var(--padding);
    width: 100%;
    max-width: 400px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    z-index: 1000000;

    > * {
        --height: 2rem;
        height: var(--height);
        margin-bottom: var(--padding);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        animation: showPopup 2.5s ease forwards;
        font-size: 80%;
        padding: 0.5rem 1rem;

        margin-top: 0;
        margin-bottom: calc(-1 * var(--height));
        opacity: 0;
        transition: 0.25s ease;

        &.is-large {
            --height: 4rem;
            background-color: var(--primary);
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }

        > img {
            height: 100%;
        }

        &.is-active {
            margin-top: 0;
            margin-bottom: var(--padding);
            opacity: 1;
        }

        > *:not(:nth-last-child(1)) {
            margin-right: 1rem;
        }
    }
}

//action poopup
.wpqs-action-popup {
    --background: rgb(18, 21, 25, 0.8);
    --foreground: #454e5c;
    --selection: rgb(159, 206, 255, 0.35);
    --spacing: 2vmin;
    --spacing-small: 1vmin;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    transition: 0.15s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 999999;

    *,
    & {
        box-sizing: border-box;
    }

    > * {
        height: 75vh;
        max-height: 600px;
        width: 90vw;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 1rem;
        align-items: stretch;
        padding: var(--spacing);
        border-radius: var(--spacing);
        background-color: var(--foreground);
        transition-delay: 0.15s;
        opacity: 0;
        transform: translateY(2rem);
        transition: 0.15s ease;

        > input {
            min-width: 0;
            padding: 0 var(--spacing);
            font-size: calc(var(--spacing) * 1.7);
            height: 10vmin;
            margin-bottom: calc(var(--spacing) * 1.5);
            border: 0px;
            border-radius: var(--spacing-small);
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            font-weight: 500;

            &::selection {
                color: white;
                background: var(--selection);
            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0.2);
                font-weight: 600;
            }
        }

        > .wpqs-actions {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;

            > *:not(:nth-last-child(1)) {
                margin-bottom: var(--spacing-small);
            }
        }
    }

    &.is-active {
        opacity: 1;
        pointer-events: all;

        > * {
            opacity: 1;
            transform: translateY(0);
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    &.is-shaking > * {
        --amount: 1rem;
        animation: 0.5s shake forwards;
    }

    @keyframes shake {
        0% {
            transform: translateX(calc(0 * var(--amount)));
        }
        25% {
            transform: translateX(calc(-0.5 * var(--amount)));
        }
        50% {
            transform: translateX(calc(1 * var(--amount)));
        }
        75% {
            transform: translateX(calc(-0.5 * var(--amount)));
        }
        100% {
            transform: translateX(calc(0 * var(--amount)));
        }
    }
}

.wpqs-action {
    all: unset;
    display: flex;
    align-items: center;
    padding: var(--spacing);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
    // animation: fadeIn 0.15s;

    @keyframes fadeIn {
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
    }

    > *:not(:nth-last-child(1)) {
        margin-right: 1rem;
    }

    > p {
        margin: 0;
    }

    &.is-selected,
    &:hover,
    &:focus {
        color: black;
        background-color: #e0f0ff;
        font-weight: 600;
    }

    .wpqs-action-tags {
        display: flex;
        align-items: center;

        > *:not(:nth-last-child(1)) {
            margin-right: 1rem;
        }

        > * {
            font-size: 75%;
            border-radius: 0.25rem;
            background-color: var(--foreground);
            color: rgba(255, 255, 255, 1);
            font-weight: 600;
            padding: 0.15rem 0.4rem;
        }
    }
}
