// RESET
// -----
.qs-popup-container {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

// POPUPS
// -----
.qs-popup-container {
  --green: #139764;
  --red: #c53560;
  --blue: #37568b;

  --padding: 3px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--padding);
  width: 100%;
  max-width: 500px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  z-index: 999999999;

  > * {
    --color: transparent;
    --height: 32px;
    min-height: var(--height);
    margin-bottom: var(--padding);
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    padding: 0 16px;
    display: flex;
    align-items: center;
    animation: showPopup 2.5s ease forwards;
    font-size: 80%;
    padding: 8px 16px;
    padding-right: 40px;
    border-left: 16px solid var(--color);
    cursor: pointer;

    margin-top: 0;
    margin-bottom: calc(-1 * var(--height));
    opacity: 0;
    transition: 0.25s ease;

    > img {
      height: 100%;
    }

    &.is-active {
      margin-top: 0;
      margin-bottom: var(--padding);
      opacity: 1;
      pointer-events: all;
    }

    > *:not(:nth-last-child(1)) {
      margin-right: 16px;
    }

    > i {
      position: absolute;
      right: 0;
      transform: translateX(4px);
      opacity: 0;
      transition: 0.15s ease;
      position: absolute;
      right: 20px;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: white;
        width: 6px;
        height: 6px;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          30% 50%,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          70% 50%,
          100% 20%,
          80% 0%,
          50% 30%
        );
      }
    }

    &:hover {
      > i {
        transform: translateX(0);
        opacity: 1;
      }
    }

    // variants
    &.is-large {
      --height: 64px;
      background-color: var(--primary);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    }

    &.is-success {
      --color: var(--green);
    }

    &.is-error {
      --color: var(--red);
    }

    &.is-info {
      --color: var(--blue);
    }
  }
}

//action popup
.qs-action-popup {
  --background: rgba(0, 0, 0, 0.7);
  --foreground: #1c2228;
  --block-background: #282f36;
  --input-background: var(--block-background);
  --input-outline-color: #{rgba(#2271b1, 0.7)};
  --input-placeholder-color: rgba(255, 255, 255, 0.3);
  --input-color: white;
  --action-background: var(--block-background);
  --action-color: white;
  --action-active-background: #2271b1;
  --action-active-color: white;
  --selection: rgb(159, 206, 255, 0.35);
  --radius: 0px;
  --spacing: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  transition: 0.15s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 999999999;

  > * {
    height: 80vh;
    max-height: 600px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
    padding: var(--spacing);
    border-radius: var(--radius);
    background-color: var(--foreground);
    transition-delay: 0.15s;
    opacity: 0;
    transform: translateY(32px);
    transition: 0.15s ease;
    color: var(--input-color);

    > h2 {
      color: inherit;
      margin: 0;
      font-size: 100%;
      padding: 0 var(--spacing);
      margin-bottom: var(--spacing);
    }

    > .qs-input-container {
      margin-bottom: calc(var(--spacing) * 2);
    }

    > .qs-actions {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      // 			transform:rotate(180deg);

      // 			> * {
      // 				transform:rotate(180deg);
      // 			}

      > *:not(:nth-last-child(1)) {
        margin-bottom: calc(var(--spacing) / 2);
      }
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: all;

    > * {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &.is-shaking > * {
    --amount: 16px;
    animation: 0.5s QSshake forwards;
  }

  @keyframes QSshake {
    0% {
      transform: translateX(calc(0 * var(--amount)));
    }
    25% {
      transform: translateX(calc(-0.5 * var(--amount)));
    }
    50% {
      transform: translateX(calc(1 * var(--amount)));
    }
    75% {
      transform: translateX(calc(-0.5 * var(--amount)));
    }
    100% {
      transform: translateX(calc(0 * var(--amount)));
    }
  }

  // search input container
  .qs-input-container {
    display: flex;
    align-items: center;
    background-color: var(--input-background);
    box-shadow: 0 0 0 0px var(--input-outline-color);
    transition: 0.15s ease;
    padding-right: var(--spacing);
    gap: var(--spacing);

    .qs-search-term {
      width: 100%;
      flex: 1;
    }

    > a {
      overflow: hidden;
      color: inherit;
    }

    &:focus-within {
      box-shadow: 0 0 0 3px var(--input-outline-color);
    }
  }

  // search input
  .qs-search-term {
    min-height: auto !important;
    min-width: 0;
    background-color: transparent;
    line-height: 1;
    padding: var(--spacing) 16px;
    font-size: 150%;
    border: 0px;
    border-radius: var(--radius);
    color: var(--input-color);
    font-weight: 500;

    &::selection {
      color: var(--input-color);
      background: var(--selection);
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: var(--input-placeholder-color);
      font-weight: 600;
    }
  }

  // action styling
  .qs-action {
    all: unset;
    display: flex;
    align-items: center;
    padding: calc(var(--spacing) / 2) var(--spacing);
    background-color: var(--action-background);
    color: var(--action-color);
    border-radius: var(--radius);
    user-select: none;
    cursor: pointer;
    // transition: 0.15s ease;
    animation: QSfadeIn 0.15s;

    @keyframes QSfadeIn {
      from {
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }

    > .qs-action-icon {
      margin-right: calc(var(--spacing) / 2);
      color: rgba(255, 255, 255, 0.5);
      font-size: 150%;
      margin-left: -4px;
      transition: 0s linear;
    }

    > p {
      flex: 1;
      margin: 0;
    }

    > .qs-action-tags {
      display: flex;
      gap: calc(var(--spacing) / 2);
      font-weight: 600;

      > * {
        font-size: 80%;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 2px 6px;
        border-radius: var(--radius);
      }
    }

    &.is-selected,
    &:hover,
    &:focus {
      color: var(--action-active-color);
      background-color: var(--action-active-background);
      font-weight: 600;

      > .qs-action-icon {
        color: var(--action-active-color);
      }

      > .qs-action-tags > span {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  // hidden elements
  .qs-hidden {
    display: none;

    &.qs-visible {
      display: block;
    }
  }
}
